.movies {
    display : flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.cards{
    background-color: hsla(28, 90%, 69%, 0.832);
    padding: auto;
    margin: 15px 5px 15px 15px;

}
.container {
    padding: 25px;
}
.title{
    text-align: center;
}

h1{
    padding-top: 25px;
}

/* .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: center
  }
  .container:after {
    display: block;
    content: " ";
    margin: 5px;
    flex: 999 999 auto;
  }
  */